.contact-form-section {
    padding: 40px 20px;
    background-color: #000000;
    /* Background color */
    text-align: center;
    color: rgb(0, 0, 0);
}

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form-container h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: F7F9F9;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.form-group-form label {
    font-weight: bold;
    color: white;
}

.form-group-form input,
.form-group-form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.response-message {
    margin-top: 15px;
    font-size: 1rem;
    color: #28a745;
    /* Green color for success message */
}