*,
*::before,
*::after {
    box-sizing: border-box;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    text-align: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

@font-face {
    font-family: "EmbassyBT";
    src: url("../../Assets/Fonts/EmbassyBT/embassybt_regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.hero-title {
    text-align: left;
    font-size: 120px;
    font-weight: 400;
    line-height: 1;
    word-spacing: 10px;
    width: 100%;
    font-family: "EmbassyBT", sans-serif;
    font-optical-sizing: auto;
}

.tagline {
    font-size: 1.125rem;
    width: 395px;
    width: 395px;
    /* font-weight:200; */
}

.flip-text{
    font-size: 30px !important;
}

@media (max-width: 768px) {
    
    .hero-title {
        letter-spacing: 2px;
        font-size: 15px !important;
        text-align: center;
    }
    .flip-text{
        line-height: 50px;
    }
    h5 span {
        /* font-size: 14px !important;
        font-weight:300; */
        margin-bottom: 0.2vh;
    }
}