/* Portfolio.css */
.portfolio-section {
  /* margin-top: 100px; */
  background-color: #000;
  color: #fff;
  /* margin-bottom: -50px; */
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.portfolio-header h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  font-family: "Aspekta", sans-serif;
  font-optical-sizing: auto;
}

.portfolio-contact {
  margin-left: 15px;
}
.portfolio-header p {
  max-width: 400px;
  font-size: 1rem;
  line-height: 1.6;
}
@media (min-width: 1550px) {

  .portfolio-header p {
      font-size: 1.5rem;
  }
  .portfolio-header h2{
      font-size: 70px;
  }

}

/* SWIPER */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 70vh;
  margin-bottom: 10px;
  border-radius: 30px;
  object-fit: cover;
  transition: filter 0.3s ease;
  /* Added transition for smooth blur effect */
}

/* Hover effect on image */
.swiper-slide img:hover {
  filter: blur(5px);
}

/* Make title visible on hover */
.portfolio-card {
  position: relative;
}

.portfolio-title {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: "Aspekta", sans-serif;
  color: #fff;
  opacity: 0;
  /* Initially hidden */
  transition: opacity 0.3s ease;
  /* Smooth transition for showing the title */
}

/* Show title when image is hovered */
.portfolio-card:hover .portfolio-title {
  opacity: 1;
  /* Make title visible on hover */
}

.portfolio-slide {
  margin-right: 20px !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .portfolio-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .portfolio-header p {
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .portfolio-header h2 {
    font-size: 48px;
    text-align: center;
  }

  .portfolio-header p {
    text-align: center;
  }

  .swiper-slide img {
    /* border: 2px solid red; */
    display: block;
    width: 92%;
    height: 70vh; /* Reduced from 80vh for better mobile viewing */
    border-radius: 30px;
    margin-left: 15px;
    object-fit: cover;
  }
}