.footer {
  background-color: rgb(33, 33, 31);
  color: white;
    padding: 10px 20px;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer p{
    font-size: 12px;
  }
  
  .footer-icons {
    display: flex;
    gap: 26px;
  }
  
  .footer-icon {
    color: white;
    font-size: 1.2rem;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .footer-icon:hover {
    color: #f39c12; /* Highlight color on hover */
    transform: scale(1.2);
  }
  

  @media (max-width: 768px) {
    .footer-icons{
      gap: 8px;
    }    
  }
  