@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Aspekta", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Set width of scrollbar */
}

::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Scrollbar color */
  border-radius: 10px;
  border: 3px solid #333; /* Optional: adds a border around the thumb */
}

/* Hover effect for scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #ffa500; /* Change color on hover */
}

/* Firefox */
scrollbar {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 10px;
}

scrollbar-thumb {
  background-color: #ff8c00;
  border-radius: 10px;
  border: 3px solid #333;
}
